# Ignore project virtual-environment directories
/.venv/
/venv/
/env/
/myenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Private local files
/private-drafts/
/assets/camera/realsense.py
.claude/
/assets/assets/