# Ignore project virtual-environment directories
/.venv/
/venv/
/env/
/myenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Private local files
/private-drafts/
.claude/
/assets/assets/
/my_version/